:root {
  --dark: #272d2d;
  --light: #fcefa9;
  --blue: #b8c5d6;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms ease-in-out;
  flex-direction: column;
}

#time {
  color: aliceblue;
  font-size: 1.2em;
}

button {
  border: solid black 2px;
  height: 50px;
  width: 150px;
  font-size: 1.5em;
  background-color: var(--blue);
  color: black;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}

button:hover {
  transform: scale(1.1);
}
